.header {
    text-align: center;
    font-size: 5em;
}
h2 {
    text-align: center;

}
#header {
    color: blue;
}
.row {
    margin: 0, auto;
  
}
.city-list {
    margin-left: 20px;
}
.current-city {
    margin-right: -30px;
}